include ./dd_options
- const name = ['playson', 'evoplay', 'booongo', 'inbet games', 'igrosoft']

mixin dropdown()
    select.filters__dd.dropdown
        option(hidden).dropdown__option.dropdown__option_active провайдеры
        +dd_options(name)
