include ./button
- const buy_now = {content: 'играть сейчас', img: {class_name: 'button__icon', altr: '$WIN Casino', source: 'arrow_right.png'}, link: '/buy-now', class_name: 'button button_dark'}
- const btn_demo = {content: 'демо', img: {class_name: 'button__icon', altr: '$WIN Casino', source: 'arrow_right.png'}, link: '/demo', class_name: 'button button_light'}

mixin each_game(gms)
    each item in gms
        .list__game.game
            .game__overlay.overlay
                .overlay__header.title
                    h3.title__header= item.name
                    if item.fav
                        .title__icon
                            img(src="star_active.png", alt="Swin casino")
                    else
                        .title__icon
                            img(src="star_inactive.png", alt="Swin casino")
                .overlay__button     
                    +button(buy_now)
                    +button(btn_demo)
