include ./image

mixin filter_buttons(btn)
        each item in btn
            button.filters__item.button.button_gray
                img(src=item.img alt='$win casino').filters__icon
                p.button__text= item.text