include ./prize
include ./image

mixin winners_list(winners)
    - for (i = 0; i < 5; i++)
        .winners__item
            .winners__data.data
                +image(winners.img)
                .data__name
                    p.data__inner= winners.name
                    p.data__inner= winners.user
            +prize(winners.prize, 'winners__prize winners__prize_right')