.box
  background-image: url('../assets/waves_corner.png'), linear-gradient(90deg, #FF7B5E 0%, #FFBB0C 100%)
  background-size: 100%
  background-repeat: no-repeat
  border-radius: $radius
  padding: 30px
  &__heading
    @include txt(28px, 24px, $normal)
    padding-bottom: 10px
  &__prize
    @include txt(48px, 2.5em, $normal)