.button
  padding: 10px
  &__text
    color: $base-color
    text-transform: uppercase
  &__icon
    @include icn(padding-left, 15px, 24px)

.button_light
    @include btn($green-trans, solid, $green, $radius)
    &:hover
      @include btn_hover($green-trans-hov, 0)
    &:active
      @include btn_hover($green-trans-act, 0)

.button_dark
    @include btn($green, none, $green, $radius)
    &:hover
      @include btn_hover($green-hov, $box-shadow-green)
    &:active
      @include btn_hover($green-act, 0)

.button_large
    line-height: 24px
    padding: 15px
    font-size: $fonts
    font-weight: 900
    letter-spacing: 0.05em;

.button_gray
    @include btn ($gray-dark, none, $gray-dark, $radius)
    display: block
    padding-bottom: 10px
    &:hover
        background-color: $gold
        color: $black
        transition: all $time
        .filters__icon
            filter: brightness(0%)
            transition: filter $time;

.button_display-none
  @include sm(display, none)