.data
    &__img
        @include col()
        @include size(2)
    &__name
        @include col()
        @include size(10)
    &__inner
        padding-left: 12px
        &:first-child
            text-transform: capitalize
        &:last-child
            opacity: 0.5
            text-transform: none
   