.dropdown
    background-color: $gray-dark
    border: none
    border-radius: $radius
    padding-left: 15px
    color: $base-color
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase
    background-image: url(../assets/arrow_down.png)
    background-repeat: no-repeat
    background-position: calc(100% - 20px) center;
    &__option
      color: $base-color 
      text-transform: uppercase
      padding: 15px
      &:hover
        background-color: $gray-light