.filters
  &__icon
    @include icn(padding, $pad-tiny, auto)
    text-align: center
    @include sm(width, 15vw)
    @include sm(text-align, left)
  &__buttons
      @include row-flex()
      @include col()
      @include size(8)
      @include size-md(12)
      justify-content: $between
  &__item
      width: calc(100% / 4 - 1vw)
      @include sm(width, calc(100% / 2 - 1vw))
      @include sm(margin-bottom, 1vh)
      @include sm(display, flex)
      @include sm(align-items, middle)
      margin-right: 1vw   
  &__menu
      display: block;
      @include col()
      @include size(4)
      @include size-md(12)
      @include md(order, -1)
      @include md(margin-bottom, 3vh)
  &__input
      width: $width-full-perc
      margin-bottom: 11px
      height: 45%
  &__dd
      width: 100%
      height: 45%