/* rubik-300 - latin_cyrillic */
@font-face
  font-family: 'Rubik'
  font-style: normal
  font-weight: 300
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-300.eot') /* IE9 Compat Modes */
  src: local('Rubik Light'), local('Rubik-Light')
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-300.eot?#iefix') format('embedded-opentype') /* IE6-IE8 */
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-300.woff2') format('woff2') /* Super Modern Browsers */
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-300.woff') format('woff') /* Modern Browsers */
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-300.ttf') format('truetype') /* Safari, Android, iOS */

/* rubik-regular - latin_cyrillic */
@font-face
  font-family: 'Rubik'
  font-style: normal
  font-weight: 400
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-regular.eot') /* IE9 Compat Modes */
  src: local('Rubik'), local('Rubik-Regular')
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype') /* IE6-IE8 */
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-regular.woff2') format('woff2') /* Super Modern Browsers */
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-regular.woff') format('woff') /* Modern Browsers */
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-regular.ttf') format('truetype') /* Safari, Android, iOS */

/* rubik-900 - latin_cyrillic */
@font-face
  font-family: 'Rubik'
  font-style: normal
  font-weight: 900
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-900.eot') /* IE9 Compat Modes */
  src: local('Rubik Black'), local('Rubik-Black')
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-900.eot?#iefix') format('embedded-opentype') /* IE6-IE8 */
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-900.woff2') format('woff2') /* Super Modern Browsers */
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-900.woff') format('woff') /* Modern Browsers */
  src: url('../assets/fonts/rubik-v9-latin_cyrillic-900.ttf') format('truetype') /* Safari, Android, iOS */