.footer
  &__nav
    background-color: $black
    padding: 5vh 0
  &__list
      @include row-flex()
      justify-content: space-around
      @include sm(flex-direction, column)
      width: 70%
      margin: auto
  &__item
      @include sm(text-align, center)
      @include sm(padding, 1vh)
  &__link
      @include lnk()