.game
    background: url('../assets/list_game_bg.png')
    background-repeat: no-repeat
    background-size: 100% 100%
    &__overlay
        position: absolute
        height: $height-full-perc
        width: $width-full-perc
        @include row-flex()
        align-content: $between
    &:hover
        .overlay
            opacity: 1
            visibility: visible