.header
  &__wrapper
    @include row-flex()
    justify-content: $between
    align-items: center
  &__menu
    top: 0
    left: 0
    width: 100vw
    z-index: 12
    position: fixed
  &__logo
    @include col()
    @include size(2)

.header__nav
  height: 100%
  @include col()
  @include size(4)

.header__button-group
  @include col()
  @include size(6)
  @include row-flex()
  justify-content: flex-end
