.info
  &__box
    @include row-flex()
    @include col()
    @include size(12)
    @include size-md(5)
    @include size-sm(12)
    @include md(padding-top, 10vh)
    @include md(height, 30vh)
    @include sm(height, 10vh)
    @include sm(padding-top, 2vh)
    flex-direction: column
    align-content: center
    margin-bottom: 20px
  &__winners-box
      @include col()
      @include size(12)
      @include size-md(6)
      @include size-sm(12)
      @include md(height, 30vh)
      @include md(overflow, hidden)
      @include md(margin, 0)
      justify-content: $between
      margin: auto
  &__box_item
      @include row-flex()
      justify-content: $between
      text-transform: capitalize
      line-height: 1.6
      padding-bottom: $pad-tiny
  &__data
      @include row-flex()