.input
    padding: 3vh 1vw
    border-radius: $radius
    background-color: $gray-dark
    color: $base-color
    text-transform: $text-uppercase
    background-image: url('../assets/search_icon.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    border: none