.jackpot
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 900
      font-size: $font-jack
      background: -webkit-linear-gradient(90deg, #FF7B5E 0%, #FFC121 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 0.09em;
      -webkit-text-stroke-color: white;
      transform: rotate(-10.35deg);
      -webkit-transform: rotate(-10.35deg);
      -moz-transform: rotate(-10.35deg);
      -ms-transform: rotate(-10.35deg);
      -o-transform: rotate(-10.35deg);