.list
  &__wrapper
    @include row-flex()
  &__game
    position: relative
    min-height: 200px
    @include col()
    @include size(3)
    @include size-md(6)
    @include md(height, 100px)
    @include sm(height, 100px)
  &__button_more
    margin: 2vw 0
    padding: 15px
    @include btn($green, none, $green, $radius)
    @include sm(width, 100%)
    &:hover
      @include btn_hover($green-hov, $box-shadow-green)
    &:active
      @include btn_hover($green-act, 0)