.main
  &__intro
    background-image: linear-gradient(180deg, rgba(15, 15, 15, 0) 90%, #1F1F1F 100%), linear-gradient(88.93deg, #000000 .93%, rgba(0, 0, 0, 0) 40%), url('../assets/main_bg.jpg')
    background-size: 100% auto
    background-repeat: no-repeat
  &__info
    @include col()
    @include size(4)
    @include size-md(12)
    @include row-flex()
    @include lg(flex-direction, column)
    @include md(flex-direction, row)
    @include md(justify-content, space-between)
    margin: 50px 0
  &__wrapper
    @include row_flex()
    justify-content: $between
    padding-top: 30px
  &__second
    background-color: $black
    padding-top: 50px
    &__filter
        @include row-flex()
        justify-content: $between
        align-items: stretch
        margin-bottom: 30px