@mixin btn($color-value, $border-value, $border-color-value, $border-radius, )
  background-color: $color-value
  border: 2px $border-value $border-color-value
  border-radius: $border-radius
  color: $base-color
  text-transform: $text-uppercase

@mixin btn_hover($hov_val, $shad_val)
  background: $hov_val
  box-shadow: $shad_val
  transition: all .5s

@mixin icn($prop, $pad-value, $h-val)
  #{$prop}: $pad-value
  height: $h-val
  vertical-align: middle

@mixin lnk()
  display: block
  width: 100%
  height: 100%

@mixin txt($height, $size, $weight)
  line-height: $height
  font-size: $size
  font-weight: $weight
