.nav
  @include row-flex()
  @include sm(display, none)
  justify-content: $between
  &__item
    position: relative
    text-align: center
    border-bottom: 2px transparent solid
    &:hover
        .nav__item_overlayed
            opacity: 1
            visibility: visible
            transition: all $time
  &__link
    @include lnk()

.nav__item_even-width
  width: calc(100% / 3 - 3%)

.nav__item_overlayed
  background-image: radial-gradient(110.12% 68.59% at 50.42% 31.41%, rgba(251, 218, 0, 0) 57.29%, rgba(251, 218, 0, 0.54) 100%)
  opacity: 0
  visibility: hidden
  height: 42px
  width: 100%
  border-bottom: 2px #EFBC41 solid
  position: absolute
  z-index: -1