.overlay
    background-color: rgba(39, 34, 30, 0.8)
    opacity: 0
    visibility: hidden
    padding: 15px
    &__header
      width: $width-full-perc
      @include row_flex()
      justify-content: $between
    &__button
        width: $width-full-perc
        @include row-flex()
        justify-content: $between

.title
    font-size: $fonts
    &__header
        @include col()
        @include size(9)
    &__icon
        include col()
        @include size(2)
