.partners
    &__box
        @include row-flex()
        @include sm(width, 100%)
        @include sm(overflow, hidden)
        padding: $pad-normal
        margin: 0 2vw
        justify-content: center
    &__item
        @include col()
        @include size(1)
        @include size-sm(2)
        margin-right: 2vw
        padding: 4vh 0