.signes
    &__box
        @include row-flex()
        justify-content: space-around
        align-items: center
        padding: 5vh 0
        width: 50%
        @include sm(width, 100%)
        margin: auto
    &__wrapper
        @inlcude col()
        @include size(2)