.slider
  @include col()
  @include size(7)
  @include md(order, -1)
  @include md(margin, auto)
  @include md(padding-top, 10vh)
  &__item
    width: $width-full-perc;
    height: $height-full-perc;
    position: relative
  &__text
    position: absolute
    top: 70%
    left: 9%
    letter-spacing: -0.05em;
    z-index: 1     
  &__wrapper
      @include row-flex()
      @include md(display, none)
      justify-content: flex-end
      margin-right: 15%
  &__button
      @include btn($green, none, $green, $radius)