.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0;
    font-weight: 900;
}

h1 {
    text-align: center;
}

.logo {
    background: url("../assets/logo.png");
    background-size: 50px;
    height: 200vh;
}