@import 'smart-grid'
@import 'variables'
@import 'mixins'
@import 'header'
@import 'main'
@import 'info'
@import 'slider'
@import 'filters'
@import 'footer'
@import 'list'
@import 'nav'
@import 'menu-top'
@import 'link'
@import 'button'
@import 'button_group'
@import 'box'
@import 'winners'
@import 'data'
@import 'jackpot'
@import 'second'
@import 'input'
@import 'dropdown'
@import 'game'
@import 'overlay'
@import 'partners'
@import 'signes'

@include reset();

html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit

body
  background-color: #010101
  font-family: 'Rubik'
  font-style: normal
  font-weight: 500
  font-size: $fonts
  line-height: 1.2
  color: $base-color
  text-transform: $text-uppercase
  scrollbar-width: thin
  scrollbar-color: $gold $gray-dark
  overflow-x: auto

body::-webkit-scrollbar-track
  background: $gray-dark;

body::-webkit-scrollbar-thumb
  background-color: $gray-dark
  border-radius: 6px
  border: 3px solid $gold

a:hover, a:active, a:focus,
button:hover, button:active, button:focus,
select:hover, select:active, select:focus
  cursor: pointer

::-webkit-input-placeholder
  color: $base-color

::placeholder
  color: $base-color

body::-webkit-scrollbar
  width: 11px;

.wrapper
  @include wrapper()

.container
  @include row-flex()
  justify-content: center
  padding: 30px 0

.disabled
  filter: grayscale(90%);