@font-face {
  font-family: 'Rubik';
  src: url("../assets/fonts/Rubik-Regular.ttf") format("truetype");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
}

.wrapper {
  padding: 0 5% 0 5%;
}

.header {
  padding: 1% 5% 1% 5%;
  background-color: rgba(0, 0, 0, 0.26);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  list-style-type: none;
}

.header ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 25px 0 25px;
  width: 33,333333%;
}

.header ul a {
  color: white;
  text-align: center;
}

.header .buttons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */