.winners
  border: 1px solid $gray-trans;
  border-radius: $radius
  padding: 30px
  &__heading
    @include row-flex()
    justify-content: $between
    margin-bottom: 30px
  &__text:last-child
    text-transform: capitalize
  &__icon
     @include icn(padding-left, 15px, 14px)
  &__item
    @include row-flex()
    margin-bottom: 12px
    &:last-child
      margin-bottom: 0
  &__data
    @include row-flex()
    @include col()
    @include size(9)
  &__prize
    @include col()
    @include size(3)
    &_right
      text-align: right