include ./mixin/list_partners
include ./mixin/footer__nav_list
include ./mixin/footer_logo_list
- const logos = [{img: 'agames_logo.png', alt: 'agames logo'}, {img: 'betsoft.png', alt: 'betsoft logo'}, {img: 'playsonlogo.png', alt: 'playson logo'}, {img: 'evoplay.png', alt: 'evoplay logo'},  {img: 'booongo.png', alt: 'booongo logo'}, {img: 'bitmap.png', alt: 'inbet logo'}, {img: 'igrosoft.png', alt: 'igrosoft logo'},  {img: 'play_pearls.png', alt: 'play pearls logo'}, {img: 'advcash.png', alt: 'advcash logo'}, {img: 'payeer.png', alt: 'payeer logo'}, {img: 'pm_logo.png', alt: 'perfect money logo'}, {img: 'piastrix.png', alt: 'piastrix logo'}, {img: 'qiwi.png', alt: 'qiwi logo'}, {img: 'yandex_money.png', alt: 'yandex money logo'}, {img: 'mc_logo.png', alt: 'master card logo'}, {img: 'visa_logo.png', alt: 'visa logo'}]
- const footer_menu = [{link: '/conditions', text: 'условия использования'}, {link: '/bonuses', text: 'бонусная политика'}, {link: '/faq', text: 'faq'}, {link: '/deposit', text: 'депозит'}, {link: '/withdrawal', text: 'вывод'}]
- const logo_list = [{img: 'logo.png', alt: 'gamecare logo'}, {img: 'bga_logo.png', alt: 'bga logo'}, {img: 'gamecare.png', alt: 'gamecare logo'}, {img: 'adult_img.png', alt: '18+ image'},]

mixin footer
    footer.footer
        .footer__partners.partners
            .wrapper
                +list_partners(logos)
        .footer__nav
            .wrapper
                +footer__nav_list(footer_menu)
        .footer__signes.siges
            .wrapper
                +footer_logo_list(logo_list)

+footer()
            
