include ./mixin/each_game
include ./mixin/button
- const g_list = [{name: 'название игры по хаверу', fav: true}, {name: 'название игры', fav: true}, {name: 'название игры', fav: false}, {name: 'название игры', fav: false}, {name: 'название игры', fav: false}, {name: 'название игры', fav: false}, {name: 'название игры', fav: false}, {name: 'название игры', fav: false}, {name: 'название игры', fav: false}, {name: 'название игры', fav: false}, {name: 'название игры', fav: false}, {name: 'название игры', fav: false}]
- const more = {content: 'загрузить еще игры', img: {class_name: 'button__icon', altr: '$WIN Casino', source: 'loader_img.png'}, link: '/more', class_name: 'button button_dark list__button'} 

mixin games_list()
    .list__wrapper
        +each_game(g_list)
    .container
        +button(more)

+games_list()