include ./mixin/filter_buttons
include ./mixin/dropdown
include ./mixin/inpt
- const filters = [{img: 'top_games_col.png', text: 'топ игры'}, {img: 'new_games.png', text: 'новые игры'}, {img: 'all_games.png', text: 'все игры'}, {img: 'favourite.png', text: 'избранное'}]

mixin game_filter()
    section.filters.second__filters
        .filters__buttons
            +filter_buttons(filters)
        .filters__menu
            +inpt()
            +dropdown()

+game_filter()