include ./mixin/menu
include ./mixin/button
include ./mixin/btn_grp
include ./mixin/link
- const btn_login = {content: 'вход', add_class: 'button_display-none', img: {class_name: 'button__icon', altr: '$WIN Casino', source: 'log_in.png'}, link: '/login', class_name: 'button button_light button-group__item'}
- const btn_regist = {content: 'регистрация', img: {class_name: 'button__icon', altr: '$WIN Casino', source: 'register.png'}, link: '/register', class_name: 'button button_dark button-group__item'}
- const menu_links = [{link: '/tournaments', class_name: 'nav__link', content: 'турниры'},{link: '/bonuses', class_name: 'menu-top__link', content: 'бонусы'},{link: '/faq', class_name: 'menu-top__link', content: 'faq'}]
- const logo_lnk = {link: '/', class_name: 'logo__link', content: null, img: {class_name: 'logo__img', altr: '$WIN Casino', source: 'logo.png'}}

mixin header()
    header.header
        .header__menu.menu-top
            .wrapper
                .header__wrapper
                    .header__logo.logo
                        +link(logo_lnk)
                    +menu_list(menu_links)
                    +btn_grp(btn_login, btn_regist)
+header()