extends layout
include ./mixin/prize
block content
    main.main
        article.main__intro
            .wrapper
                .main__wrapper
                    aside.main__info.info
                        .info__box.box
                            p.box__heading.box__text_left джекпот
                            +prize('23,456,789', 'box__prize box__text_left')
                        block winners_box
                            include winners_box
                    section.slider
                        block slider
                            include slider
        article.main__second.second
            .wrapper
                include game_filter
                include games_list