include ./mixin/image
include ./mixin/button
- const play_more = {content: 'играть сейчас', link: '/play_more', class_name: 'slider_button button button_dark button_large'}
- const slides = [{text: '100 000 000 РУБ', img: {source: 'jackpot_bg.png', altr: 'swin jackpot', class_name: 'slider__img'}}]

.slider__inner
    each item in slides
        .slider__item
            +image(item.img)
            h2.slider__text.jackpot= item.text
        .slider__wrapper
            +button(play_more)
