include ./mixin/winners_list
include ./mixin/image
- const winners = {name: 'название игры', user: 'random@gmail.com', prize: '123,123', img: {class_name: 'data__img', altr: '$WIN Casino', source: 'game_bg.png'}}
- const arrows = {class_name: 'winners__icon', altr: '$WIN Casino', source: 'dbl_arrow.png'}

block winners_box
    mixin winners_box()
        .info__winners-box.winners
            .winners__heading
                p.winners__text победители
                p.winners__text последние
                    +image(arrows)
            +winners_list(winners)

+winners_box()